{% extends 'base.html' %}

{% block content %}

  <!-- main content body start -->


  <div class="container-fluid content">


    <div class="jumbotron jumbotron-fluid bgtrans">

        <!-- <h1 class="display-4">Creative Realm</h1>
        <p class="lead">Finding a place that'll unleash your creative potential whether it is imbibed with enid blyton, or complicated on dan brown level.
          Welcome to our journey. Let's show the world, what creative thinking exactly is. Outside the rules of norm, your own place to muse and explore.
          Just one more thing, you have to get tattooed a number to view the content. Just kidding! All you need is open arms and internet connection.</p> -->

          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1460458248189-2cb101df4e67?ixlib=rb-1.2.1&auto=format&fit=crop&w=1120&q=80" class="d-block w-100 car-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CREATIVE REALM</h5>
        <p>Finding a place that'll unleash your creative potential whether it is imbibed with Enid Blyton , or complicated on dan brown level.
          <br> Welcome to our journey. Let's show the world, what creative thinking exactly is. <br>Outside the rules of norm, your own place to muse and explore.
          Just one more thing, you have to get tattooed a number to view the content. <br>Just kidding! All you need is open arms and internet connection.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1586294180396-0d1d93e0b71a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" class="d-block w-100 car-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Yes I Am</h5>
        <p>You want me to be a boy, I turned out a girl <br>
        Yes am a difficult child <br> .... </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1596011955428-8239125a785c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="d-block w-100 car-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      </div>





      <div class="card-columns">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1514580426463-fd77dc4d0672?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1860&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text" id="para1"> </p>
    </div>
  </div>
  <!-- <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> -->
  <div class="card">
    <img src="https://images.unsplash.com/photo-1526378787940-576a539ba69d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Corage is being scared to death but saddling up anyway.</p>
      <footer class="blockquote-footer text-white">
        <small>
          John Wayne <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Yes I am</h5>
      <p class="card-text">

        You want me to be a boy, I turned out a girl <br>
        Yes am a difficult child <br>
        You meant buttoned up shirt, I chose shorts <br>
        Yes am a difficult child <br>
        You expected silence, I lashed out <br>
        Yes am a difficult child <br>
        You asked me to get married, I refused to oblige <br>
        Yes am a difficult child <br>
        You demanded I sate your ego, instead I stood up <br>
        Yes am a difficult child <br>

        You presumed I wouldn't, but I boxed my heart out <br>
        Yes am unfit for society <br>
        You looked to leech salary , but my eyes were fixed on the prize <br>
        Yes am unfit for society <br>
        You discouraged any freedom, I wanted nothing more <br>
        Yes am unfit for society <br>
        You acknowledged women empowerment, with inaction <br>
        Yes am unfit for society <br>
        You refused to look at 2020, I chose to live in 3020 <br>
        Yes am unfit for society <br>

        You welcomed a working daughter in law, promising no help <br>
        Yes am a resentful addition <br>
        You act superior, demeaning the background <br>
        Yes am a resentful addition <br>
        You assumed a working, beautiful, rich, housekeeping, silent wife <br>
        Yes am a resentful addition <br>
        You respected your son's choice, abhorred your girls boyfriend <br>
        Yes am a resentful addition <br>
        You encouraged a grandchild, expecting to raise them your way <br>
        Yes am a resentful addition <br>

        I ask one last question, why would you? <br>
        Give it a thought. Be human. <br>

      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1534196511436-921a4e99f297?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="card-img-top" alt="...">
  </div>
  <!-- <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> -->
  <!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->
</div>














    </div>



    <!-- main content body end -->

{% endblock %}
