{% extends 'base.html' %}

{% block card1 %}

<h5 class="card-title">Yes I am</h5>
<p class="card-text">

  You want me to be a boy, I turned out a girl <br>
  Yes am a difficult child <br>
  You meant buttoned up shirt, I chose shorts <br>
  Yes am a difficult child <br>
  You expected silence, I lashed out <br>
  Yes am a difficult child <br>
  You asked me to get married, I refused to oblige <br>
  Yes am a difficult child <br>
  You demanded I sate your ego, instead I stood up <br>
  Yes am a difficult child <br>

  You presumed I wouldn't, but I boxed my heart out <br>
  Yes am unfit for society <br>
  You looked to leech salary , but my eyes were fixed on the prize <br>
  Yes am unfit for society <br>
  You discouraged any freedom, I wanted nothing more <br>
  Yes am unfit for society <br>
  You acknowledged women empowerment, with inaction <br>
  Yes am unfit for society <br>
  You refused to look at 2020, I chose to live in 3020 <br>
  Yes am unfit for society <br>

  You welcomed a working daughter in law, promising no help <br>
  Yes am a resentful addition <br>
  You act superior, demeaning the background <br>
  Yes am a resentful addition <br>
  You assumed a working, beautiful, rich, housekeeping, silent wife <br>
  Yes am a resentful addition <br>
  You respected your son's choice, abhorred your girls boyfriend <br>
  Yes am a resentful addition <br>
  You encouraged a grandchild, expecting to raise them your way <br>
  Yes am a resentful addition <br>

  I ask one last question, why would you? <br>
  Give it a thought. Be human. <br>

</p>
{% endblock %}
